/* Let Go🚀 */

:root {
  --dark-navy: #020c1b;
  --navy: #0a192f;
  --light-navy: #112240;
  --lightest-navy: #233554;
  --navy-shadow: rgba(2, 12, 27, 0.7);
  --dark-slate: #495670;
  --slate: #8892b0;
  --light-slate: #a8b2d1;
  --lightest-slate: #ccd6f6;
  --white: #e6f1ff;
  --green: #3a7d44;
  --light-green: #9cffb0;
  --green-tint: rgba(100, 255, 218, 0.1);
  --font-sans: "Calibre", "Inter", "San Francisco", "SF Pro Text", -apple-system,
    system-ui, sans-serif;
  --font-mono: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", monospace;
  --normal: 400;
  --medium: 500;
  --light: 300;
  --extrabold: 700;
  --bold: 600;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}

body {
  font-family: var(--font-sans);
  background: var(--navy);
  color: var(--white);
  overflow-x: hidden;
  position: relative;
}

.wrapper {
  max-width: 1440px;
  width: 100%;
  margin: auto;
  padding: 1rem 3rem;
}

/* border: 1px solid red; */

.navbar {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding: 0 1rem;
}

.navbar nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 4rem;
}

.nav-brand {
  font-weight: var(--bold);
  padding: 1rem;
  font-size: 1.5rem;
}

.nav-list {
  padding: 1rem;
}

main {
  min-height: 90vh;
  padding-top: 6rem;
  width: 100%;
  max-width: 1000px;
  position: relative;
}

@media (min-height: 768px) {
  main {
    min-height: 768px;
  }
}

.main-name {
  font-family: var(--font-mono);
  color: var(--light-green);
  padding: 0.7rem 0;
  font-weight: var(--light);
}

.main-h1 {
  padding: 0.5rem 0;
  color: var(--white);
  font-weight: var(--bold);
  font-size: clamp(40px, 8vw, 80px);
}

.slate {
  color: var(--slate);
}

.main-sub {
  color: var(--slate);
  font-size: 2.5rem;
  font-weight: var(--bold);
  padding: 0.7rem 0;
}

.main-intro {
  max-width: 30rem;
  color: var(--slate);
  padding: 0.7rem 0;
  line-height: 1.8rem;
}

main button {
  background-color: transparent;
  padding: 1rem 1.5rem;
  margin: 2rem 0 4rem;
  border: 1px solid var(--light-green);
  color: var(--light-green);
  font-size: 1rem;
  border-radius: 0.3rem;
}

main .scroll {
  position: absolute;
  bottom: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  color: var(--light-green);
  animation: upanddown 3s infinite;
}

main .scroll:hover {
  animation-play-state: paused;
}

@keyframes upanddown {
  0% {
    transform: translate(0, -1rem);
  }
  50% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(0, -1rem);
  }
}

/* @media (min-width: 500px) {
  .main-h1 {
    font-size: 5vw;
  }
} */

@media (min-width: 768px) {
  .wrapper {
    padding-left: 8rem;
  }

  .hidden {
    display: none
  }
}

section,
footer {
  max-width: 1000px;
  margin: 0 auto;
}

@media (max-width: 768px) {
  aside {
    display: none;
  }
  main .scroll {
    display: none;
  }
  .display {
    display: none;
  }
}

aside {
  font-family: var(--font-mono);
}

aside.left {
  color: var(--light-slate);
  left: 1.5rem;
  bottom: 0;
  position: fixed;
  width: 3rem;
  z-index: 10;
  width: 3rem;
}

.social-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.social-list li {
  padding: 0.8rem;
  margin: 0.5rem 0;
  font-weight: var(--bold);
  border-radius: 50%;
  border: 1px solid;
}
.social-list::after {
  content: "";
  display: block;
  width: 1px;
  height: 90px;
  margin: 0px auto;
  background-color: var(--light-slate);
}

aside.right {
  right: 1.5rem;
  position: fixed;
  bottom: 0;
}

aside.right p {
  writing-mode: vertical-lr;
  padding: 1rem 0;
}

aside.right::after {
  content: "";
  display: block;
  width: 1px;
  height: 90px;
  margin: 0px auto;
  background-color: var(--light-slate);
}

.about-me {
  margin: 1rem 0;
}

.about-me header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin: 1rem 0;
  width: 100%;
  white-space: nowrap;
  font-size: clamp(26px,5vw,32px);
}

.about-me header::after {
  content: "";
  display: block;
  top: -5px;
  height: 1px;
  width: 50%;
  padding: 0 12px;
  background-color: var(--light-slate);
}

.about-me p {
  max-width: 30rem;
  color: var(--slate);
  padding: 0.7rem 0;
  line-height: 1.8rem;
}

.about-me span {
    color: var(--light-green);
}

.my-picture {
    display: none;
}
/* .p-name {
    font-family: var(--font-mono);
    color: var(--light-green);
} */
